.nav-container {
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  cursor: pointer;
  color: yellow;
  font-weight: 600;
  font-size: 2rem;
}
